footer {
	text-align: center;
	font-size: small;
}

.container {
	font-family: "Poppins", sans-serif;
}

.App-header {
	margin: 30px;
}

.Header-image {
	display: block;
	margin: 0 auto;
	max-width: 100px;
}
