h1 {
	text-align: center;
}

footer {
	text-align: center;
	font-size: small;
}

.container {
	font-family: "Poppins", sans-serif;
	border: 1px solid black;
	border-radius: 10px;
	max-width: 600px;
	margin: 40px auto;
}

.App-header {
	margin: 30px;
}

.Header-image {
	display: block;
	margin: 0 auto;
	max-width: 100px;
}
