a {
	color: orange;
}

a:hover {
	color: red;
}

h1 {
	text-align: center;
}

footer {
	text-align: center;
	font-size: small;
}

.App {
	font-family: "Poppins", sans-serif;
}

.Page {
	background-color: white;
	max-width: 600px;
	margin: 40px auto;
	border: 1px solid black;
	border-radius: 10px;
	box-shadow: 0px 0px 15px black;
	padding-bottom: 20px;
}

.App-header {
	margin: 30px;
}

.Header-image {
	display: block;
	margin: 0 auto;
	max-width: 100px;
}
