.Word {
	color: orange;
	font-weight: bold;
}

.Dictionary {
	text-align: center;
}

.Search-input {
	padding: 10px;
	border: 1px solid black;
	border-radius: 8px;
	margin: 20px;
}

.You-searched {
	text-align: left;
	margin-left: 20px;
}
